@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&family=Sansita+Swashed:wght@300&family=Work+Sans:wght@200&display=swap');

.mainback{
    min-height: 92vh;
    display: flex;
    padding: 10px 0;
}

.page{
    width: 100%;
}

.heading{
    font-size: 4rem;
    font-family: "Work Sans",sans-serif;
    padding: 5px 10px;
}

@media only screen and (max-width: 600px){
    .heading{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}